<form action="/payment/results">
  <label for="giraffe">APR</label>
  <input id="giraffe" type="text" placeholder="E.g. 5.42" name = "clown">

  <label for="cow">Number of years</label>
  <input id="cow" type="text" placeholder="How many years to repay?" name = "toy">

  <label for="zoo">Principal</label>
  <input id="zoo" type="text" placeholder="How much principal?" name = "fish">

  <button>Calculate monthly payment</button>

</form>
