<form action="/payment/results">
  <label for="apr">APR</label>
  <input id="apr" type="text" placeholder="E.g. 5.42" name = "apr">

  <label for="years">Number of years</label>
  <input id="years" type="text" placeholder="How many years to repay the payment?" name = "years">

  <label for="principal">Principal</label>
  <input id="principal" type="text" placeholder="How much principal?" name = "principal">

  <button>Calculate monthly payment</button>

</form>
