<form action="/random/results">
  <label for="cat">Minimum</label>
  <input id="cat" type="text" placeholder="E.g. 1.5" name = "dog">

  <label for="whale">Maximum</label>
  <input id="whale" type="text" placeholder="E.g. 4.5" name = "wow">

  <button>Pick Random Number</button>

</form>
